/* ---- base rules ---- */

html {
  padding: 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 100%;
  width: 100%;
}

/* ---- display rules ---- */

.shell {
  position: absolute;
  width: 150px;
  height: 150px;
  background: blue;
  z-index: 1000;
}

.ball-container {
  position: absolute;
  width: 120px;
  height: 120px;
  padding: 15px;
}

.ball {
  background-color: red;
  width: 120px;
  height: 120px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

/* ---- layout rules ---- */

#main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -400px;
  height: 600px;
  width: 800px;
}

#game-container {
  display: inline-block;
  /* the dimensions have to allow 3 times the .shell div to fit in plus a margin of 10px on all sides around them */
  height: 490px; /* 3*150px + 4*10px */
  width: 490px; /* 3*150px + 4*10px */
  margin: 20px 155px;
  position: relative;
}

#instruction-container {
  clear: left;
  text-align: center;
}

.action-button {
  cursor: pointer;
}

/* ---- state rules ---- */

.clickable {
  cursor: pointer;
}

.under-shell {
  z-index: 500;
}

.over-shell {
  z-index: 1500;
}
