/* ---- base rules ---- */

html {
  padding: 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 100%;
  width: 100%;
}
