/* ---- display rules ---- */

.shell {
  position: absolute;
  width: 150px;
  height: 150px;
  background: blue;
  z-index: 1000;
}

.ball-container {
  position: absolute;
  width: 120px;
  height: 120px;
  padding: 15px;
}

.ball {
  background-color: red;
  width: 120px;
  height: 120px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.game-control {
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}
