/* ---- layout rules ---- */

#main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -400px;
  height: 600px;
  width: 800px;
}

#game-container {
  display: inline-block;
  /* the dimensions have to allow 3 times the .shell div to fit in plus a margin of 10px on all sides around them */
  height: 490px; /* 3*150px + 4*10px */
  width: 490px; /* 3*150px + 4*10px */
  margin: 20px 155px;
  position: relative;
}

#instruction-container {
  clear: left;
  text-align: center;
}
